h1 {
    padding: 10px;
    font-size: 2em;
}

input, textarea {
    width: 60%;
    font-size: large;
    margin-bottom: 10px;
    font-family: 'Times New Roman', Times, serif;
}

textarea {
    height: 300px;
}

button {
    font-size: large;
    padding: 10px;
}

@media screen and (max-width: 768px) {
    input, textarea {
        width: 100%;
    }
}