.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.projectCard {
    margin: 15px;
}

h1 {
    padding: 20px
}

.card-body {
    color: white;
    background-color: #a3b18a;
}

a {
    margin-right: 10px;
}

@media screen and (max-width: 768px) {
    .container .cardImg {
        width: 100%;
    }
}