* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   
}

.box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

header {
    padding: 1%;
    background-color: #ccd5ae;
}

header h1 {
    font-size: 48px;
    background-color: #fefae0;
    border-radius: 0 15px 15px 0;
    margin-left: -1%;
    padding: 1%
}

.nav {
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    margin-right: 5%;
    padding-top: 2%;
}

.nav-item {
    display: inline-block;
}

.nav-link {
    padding: 10px;
}